.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

/* .row {
    margin: 10px 0px;
} */

.video {
    height: 500px;
    background-color: black;
}

.courseName {
    text-align: center;
}

h1{
    color: white;
    background: linear-gradient(to right, #2b92ff, #9041ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.content button{
    color: #4b4848;
    border-radius: 30px;
    background-color: rgb(212, 209, 209);
    font-weight: 600;
    border: none;
    font-size: 16px;
    padding: 8px 12px;
}

.content button:hover {
    color: aliceblue;
    border: none;
    background: -webkit-linear-gradient(to right, #2b92ff, #9041ff);
    background: linear-gradient(to right, #2b92ff, #9041ff);
    cursor: pointer;
}

.content {
    color: #4b4848;
    border-radius: 30px;
    background-color: rgb(212, 209, 209);
}

.content:hover {
    color: aliceblue;
    border: none;
    background: -webkit-linear-gradient(to right, #2b92ff, #9041ff);
    background: linear-gradient(to right, #2b92ff, #9041ff);
    cursor: pointer;
}

/* course.css */
.active-row {
    background: linear-gradient(to right, #2b92ff, #9041ff);
}

body::-webkit-scrollbar {
    display: none;
}

.custom-row {
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courseName {
    flex: 1;
    display: flex;
    justify-content: center;
}

.content {
    text-align: right;
}

.empty{
    font-size: 25px;
    font-weight: 600;
    background: linear-gradient(to right, #2b92ff, #9041ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}