.title h1 {
    /* color: #9041ff; */
    background: linear-gradient(to right, #2b92ff, #9041ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

.row{
    background: #a869ff;
    background: -webkit-linear-gradient(to right, #4da2fe, #a869ff);
    background: linear-gradient(to right, #4da2fe, #a869ff);
    border-radius: 10px;
}

.row h2{
    text-align: center;
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}

.container .row p input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

.container .row p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 550;
    padding-top: 10px;
}

.container .row div {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 550;
    padding-top: 10px;
}

option{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
}

.message button{
    color: #ffffff;
    background-color: #9041ff;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 22px;
    transition: 0.5s;
    border-radius: 30px;
    border: none;
}

.message button:hover{
    border: none;
    background: #9041ff;
    background: -webkit-linear-gradient(to right, #2b92ff, #9041ff);
    background: linear-gradient(to right, #2b92ff, #9041ff);
    cursor: pointer;
}